<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="windowpos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="windowpos2">
        <xmin>810</xmin>
        <xmax>1080</xmax>
        <ymin>465</ymin>
        <ymax>855</ymax>
    </rect>
    <string name="keybind">i</string>
    <string name="version">0.2.2.0</string>
    <bool name="kspskin">0</bool>
    <bool name="visible">0</bool>
    <int name="lastimage">0</int>
</config>